<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>financial-cell</title>
    <style>
        .button {
            background-color: rgb(80, 163, 230);
            border: none;
            color: white;
            padding: 1px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .el-scrollbar {
            height: 100%;
            width: 100%;
        }

        .el-scrollbar__wrap {
            overflow: scroll;
            overflow: auto;
        }

        div:focus {
            outline: none
        }

        .el-input__inner {
            height: 30px !important;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <link href="../../../../dist/xspreadsheet.css" rel="stylesheet">
</head>
<body onload="load()">

<div id="app" tabindex="0" @keydown.stop style="width: 1200px">
    <div style="width: 100px; display: inline-block;">
        <el-input
                placeholder="请输入文件名"
                v-model="input">
        </el-input>
    </div>
    <div class="button" @click="saveAction">
        保存
    </div>
    <div class="button" @click="getActions">
        运行测试用例
    </div>
    <div class="button" @click="clickPNG">
        截图
    </div>
    <div class="button" @click="reREC">
        重新录制
    </div>
    <div class="button" @click="lookAction">
        查看录制内容
    </div>

    <el-dialog
            tabindex="0"
            title="提示"
            :visible.sync="dialogShow"
            width="80%">
        <div style="height: 300px; overflow-y: scroll; ">
            <div style="  width: 1200px;" @input.stop @click.stop @paste.stop @copy.stop @mousedown.stop @mouseup.stop>
                <el-tree :data="fileData" ref="tree" :props="defaultProps" show-checkbox></el-tree>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button :loading="run" @click="dialogShow = false">关 闭</el-button>
            <el-button :loading="run" @click="handleCheckChange">执 行</el-button>
            <el-button :loading="run" @click="showLogs">查看logs</el-button>
        </span>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="50%">
        <div style="overflow-y: scroll; height: 300px">
            {{opt}}
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">关 闭</el-button>
        </span>
    </el-dialog>

    <el-dialog
            tabindex="0"
            title="提示"
            :visible.sync="dialogShow2"
            width="60%">
        <div style="height: 300px; overflow-y: scroll;">
            <div v-for="log in logData">
                <el-alert :description="log.desc"
                          :title="log.title"
                          :type="log.type"
                          :closable="false"></el-alert>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogShow2 = false">返 回</el-button>
        </span>
    </el-dialog>
</div>
<div id="financial-cell"></div>

<script>
    var opt = [];
    let url = "http://127.0.0.1:1001/action";

    function load() {
        let options = {
            showFreeze: true,
            showEditor: true,
            rowsInit: true,
            rowWidth: {
                state: false,
                width: 180
            },
            view: {
                height: () => {
                    return document.documentElement.clientHeight - 37;
                }
            },
            row: {
                len: 200,
                height: 25,
            },
            showGrid: true,
            showToolbar: true,
            minus: false,
            col: {
                len: 26,
                width: 100,
                indexWidth: 60,
                minWidth: 10,
            },
        };
        let rows1 = {
            1: {
                cells: {
                    0: {"text": "A2", "formulas": "A2"},
                    1: {"text": "=A3", "formulas": "=A3", "merge": [1, 0]},
                    2: {"text": "=A1:A2", "formulas": "=A1:A2"},
                    3: {"text": "=$A3:A5", "formulas": "=$A3:A5"},
                    4: {"text": "=abs(A4)", "formulas": "=abs(A4)"},
                    5: {"text": "=abs($A4)", "formulas": "=abs($A4)"},
                    6: {
                        "text": '=add("A1" + A3:A5 + $A2:A$3)',
                        "formulas": '=add("A1" + A3:A5 + $A2:A$3)',
                        "merge": [0, 2]
                    },
                }
            },
        };

        var xs = x.spreadsheet('#financial-cell', options, {})
            .loadData({
                styles: [],
                rows: rows1,
                merges: [
                    'B2:B3', 'G2:I2'
                ],
                cols: {
                    0: {'width': 78},
                    1: {'width': 107},
                    2: {'width': 138},
                    3: {'width': 118},
                    4: {'width': 108},
                    5: {'width': 109},
                    6: {'width': 120},
                    7: {'width': 104},
                    8: {'width': 99},
                    9: {'width': 101},
                    10: {'width': 106},
                    11: {'width': 99},
                    12: {'width': 92},
                    13: {'width': 100}
                },
            }).change((cdata) => {
                console.log(cdata);
                console.log(xs.validate());
            });


        let delay = 50;
        let time = new Date();
        let dom = document.getElementById("financial-cell");
        window.addEventListener("input", e => {
            console.log(e.data)
            if (!e.data) {
                opt.push({
                    'world': 'Backspace',
                    'type': 'keydown',
                });
            } else {
                opt.push({
                    'world': e.data,
                    'type': 'input',
                });
            }

            e.stopPropagation();
        });
        let mt = new Date();


        window.addEventListener("keydown", e => {
            console.log(e, e.code);
            let code = '';
            if (e.keyCode === 8) {
                code = 'Backspace';
            } else {
                code = e.code;
            }
            opt.push({
                'world': code,
                'type': 'keydown',
            });
        });

        // window.addEventListener("keyup", e => {
        //     console.log(e);
        //     opt.push({
        //         'world': e.code,
        //         'type': 'keydown',
        //     });
        //     e.stopPropagation();
        //
        // });

        dom.addEventListener("mousedown", e => {
            // let time2 = new Date();
            // if (time2.valueOf() - mt.valueOf() > delay) {
            console.log(e.detail);
            if (e.detail === 2) {
                opt.push({
                    'type': 'dbmousedown',
                });
            } else {
                opt.push({
                    'x': e.x,
                    'y': e.y,
                    'type': 'mousedown',
                });
            }
            //     mt = new Date();
            // }
        });
        let mt2 = new Date();

        dom.addEventListener("mousemove", e => {
            let time2 = new Date();
            if (time2.valueOf() - mt2.valueOf() > delay) {
                // console.log(e);
                mt2 = new Date();
                opt.push({
                    'x': e.x,
                    'y': e.y,
                    'type': 'mousemove',
                });
            }
        });
        let mt3 = new Date();

        dom.addEventListener("mouseup", e => {
            let time2 = new Date();
            if (time2.valueOf() - mt3.valueOf() > delay) {
                console.log(e);
                opt.push({
                    'type': 'mouseup'
                });
                mt3 = new Date();
            }
        });
    }

    let count = 0;

    function optToString() {
        return JSON.stringify(opt);
    }

    new Vue({
        el: '#app',
        data() {
            return {
                dialogShow: false,
                dialogShow2: false,
                dialogVisible: false,
                logData: [],
                input: '',
                fileData: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                opt: opt,
                run: false,
            }
        },
        watch: {
            opt(n, o) {
                this.opt = opt;
            }
        },
        methods: {
            clickPNG() {
                let e = window.event;
                count += 1;

                if (count > 2) {
                    alert("只能截图2次");
                    return;
                } else {
                    this.$message('截图成功');
                }
                opt.push({
                    "type": 'screenshot',
                });
                e.stopPropagation();
            },
            lookAction() {
                this.dialogVisible = true;
            },
            saveAction() {
                if (this.input === '') {
                    this.$message('请输入文件名');
                    return;
                }
                axios.post(url, {data: opt, fileName: this.input})
                    .then(res => {
                        this.$message('保存成功');
                        this.reREC(false);
                        console.log(res);
                    });
            },
            reREC(print = true) {
                setTimeout(() => {
                    this.opt = [];
                    opt = [];
                    count = 0;
                    if (print) {
                        this.$message('清除成功');
                    }
                }, 100);
            },
            getActions() {
                axios.post(url + "_catalogue", {data: "。。"})
                    .then(res => {
                        console.log(res);
                        this.fileData = res.data;
                        this.dialogShow = true;
                    });
            },
            handleCheckChange() {
                let res = this.$refs.tree.getCheckedNodes();
                let arr = []
                res.forEach((item) => {
                    if (!item['children']) {
                        arr.push(item['label']);
                    }
                });
                this.runActions(arr);
            },
            runActions(items) {
                this.run = true;
                this.logData = [];
                axios.post(url + "_runActions", {data: items})
                    .then(res => {
                        this.run = false;
                        let data = res['data'];

                        if (data['successArr']) {
                            for (let i = 0; i < data['successArr'].length; i++) {
                                let item = data['successArr'][i];
                                console.log("item success: ", item);
                                this.logData.push({
                                    "title": `文件执行成功:  ${item['path']}`,
                                    "desc": `相差diff: ${item['diff']}`,
                                    "type": "success",
                                });
                            }
                        }

                        if (data['errorArr']) {
                            for (let i = 0; i < data['errorArr'].length; i++) {
                                let item = data['errorArr'][i];
                                console.log("item error: ", item);
                                this.logData.push({
                                    "title": `文件执行失败: ${item['path']}`,
                                    "desc": `报错原因: ${item['error']}`,
                                    "type": "warning",
                                });
                            }
                        }
                    }).catch((e) => {
                    this.run = false;
                    console.error("运行失败", e);
                });
            },
            showLogs() {
                if (this.logData.length <= 0) {
                    this.$message('没有日志');
                } else {
                    this.dialogShow2 = true;
                }
            }
        }
    });
</script>

<script type="text/javascript" src="../../../../dist/vendors~xspreadsheet.js"></script>
<script type="text/javascript" src="../../../../dist/xspreadsheet.js"></script>
<script type="text/javascript" src="../../../../dist/f.js"></script>
</body>
</html>
